@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.elemento-pai {
  height: 100%;
}

body {
  font-size: 100%;
  min-height: 100vh;
  background: linear-gradient(68.15deg, #2C3E50 16.62%, #386ea1 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-img{
  height: 72px;
}

.cabecalho-menu{
  display: flex;
  gap: 32px;
}

.cabecalho-item{
  font-family: 'sarala',sans-serif;
  color: #ffd5a3
}

.conteudo{
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 48px;
  border-top: 0.4px solid #ffd5a3;
}

.conteudo-principal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-texto{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-texto-titulo{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color:#ffd5a3 ;
}
.conteudo-texto-subtitulo{
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color:#ffd5a3 ;
}

.conteudo-texto-botao{
  background-color:#2C3E50;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif
  font-weight: 400;
  font-size: 24px;
  color: #ffd5a3;
  transition: all 0.3s ease;
}

.conteudo-botoes{
  display: flex;
  gap: 14px;
}

.conteudo-texto-botao:hover{
  background-color: #F39C12;
  color: #fff;
}

.conteudo-principal-escrito{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-principal-escrito-titulo{
  border-top: 00.4px solid #ffd5a3;
  padding-top: 48px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ffd5a3;
  margin-bottom: 16px;
}

.conteudo-principal-escrito-texto{
  font-family: 'Montserrat', sans-serif
  font-weight: 300;
  font-size: 18px;
  color: #ffd5a3;
}

.rodape{
  padding: 32px;
  border-top: 00.4px solid #ffd5a3;
}

.ficafim{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.rodape-img{
  height: 72px;
  display: block;
  margin: 0 auto;
}

.cabecalho-item{
  font-weight: bold;
  transition: all 0.3s ease;
}

.cabecalho-item:hover {
  color: #F39C12;
}

.ativo {
  color: #F39C12;
  font-weight: bold;
}

.square {
  width: 100px;
  height: 100px;
  background-color: blue;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.square::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: yellow;
  z-index: -1;
  transition: height 0.5s ease-out;
  transform-origin: bottom;
}

#checkbox:checked + label .square::before {
  height: 100%;
}




